.footer {
    background-color: $color-background;
    padding: 15px;
}
.rs-school-logo{
    width: 100px;
    height: 45px;
    background: url(../assets/images/rs_school_js.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}
.footer-nav-list {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style-type: none;
    margin: 0;
   
    li{
        padding: 0 10px;
        font-size: 18px;
        font-weight: 400;
        line-height: 45px;
        color: $color-text; 
        a{
            text-decoration: none;
            color: $color-text; 
        }
    }

  }