.header{
    background-color: $color-background;
    padding: 15px;
    position: relative;
}
.nav-item{
    margin: 0 5px;
}
.nav-link {
    position: relative;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 45px;
    color: $color-light; 
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    transition: 0.3s ease;
    &:hover{
        border-top: 4px solid $color-light;
        border-bottom: 4px solid $color-light;
    }
}
