$color-primary: #0a0a0a;
$color-additional: #474343;
$color-background-light: #eeede6;
$color-background: #b4dcec;
$color-text: #201a1a;
$color-heading: #82b9d3;
$color-border: #D7D7D7;
$color-link: #3c637a;
$color-hovered: #5497be;
$color-light: #ffffff;


