@media (max-width: 865px) {
    .header{
        display: none;
    }
}
@media (max-width: 768px) {
    .column-left,
    .column-right {
        width: 100%;
    }
    
}


@media (max-width: 545px) {
    .profile-heder {
        flex-direction: column;

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.2em;
        }

        h3 {
            font-size: 1.1em;
        }
    }

    .profile-avatar {
        margin: 0 auto;
    }
}

@media (max-width: 420px) {
    .footer-nav-list {
        display: flex;
        flex-direction: column;
        li{
            &:last-child{
                margin-top: 10px;
            }
        }
    }
}
